{% extends "registration/registration_base.html" %}
{% load i18n %}

{% block content %}

{% load static %}
<link rel="stylesheet" href="{% static "accounts.css" %}">

<div class="row justify-content-center">

    <div class="card">

        <div class="card-header">
            {% trans "Register for an account" %}
        </div>

        <div class="card-block">
            <form accept-charset="UTF-8" method="post" role="form" >
            {% csrf_token %}

                <div class="form-group">
                    <div class="input-group">
                        <div class="input-group-addon"><i class="fa fa-envelope" aria-hidden="true"></i></div>
                        <input class="form-control" type="email" id="email" name="email" required autofocus
                               value="{{ form.email.value|default:'' }}" placeholder="Email">
                    </div>
                    {{ form.email.errors }}
                </div>

                <div class="form-group">
                    <div class="input-group">
                        <div class="input-group-addon"><i class="fa fa-key" aria-hidden="true"></i></div>
                        <input class="form-control" type="password" id="id_password1" name="password1"
                               required placeholder="Password">
                    </div>
                    {{ form.password1.errors }}
                </div>

                <div class="form-group">
                    <div class="input-group">
                        <div class="input-group-addon"><i class="fa fa-key" aria-hidden="true"></i></div>
                        <input class="form-control" type="password" id="id_password2" name="password2"
                               required placeholder="Password again">
                    </div>
                    {{ form.password2.errors }}
                </div>

                <input formaction="{% url 'registration_register' %}" class="btn btn-lg btn-outline-success btn-block"
                       type="submit" value="{% trans 'Submit' %}">

            </form>
        </div>
    </div>
</div>


{% endblock %}
