<!DOCTYPE html>
<html lang="en">
<head>

    <!-- meta -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="Description" lang="ru" content="Place for all your movies is there">
    <meta name="author" content="Swasher">
    <meta name="robots" content="index, follow">

    {% block meta %}{% endblock %}

    <!-- load django template tag -->
    {% load static %}
    {% load admin_urls %}

    <!-- JQuery-->
    <!-- Do not use SLIM version of jquery library of you will have "Uncaught TypeError: $.ajaxSetup is not a function" error -->
    <script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>

    <!-- Bootsrap v4 -->
{#    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">#}
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootswatch/4.4.1/darkly/bootstrap.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

{% comment %}
    <!-- Tooltipster-->
    <script src="https://cdn.jsdelivr.net/gh/iamceege/tooltipster/dist/js/tooltipster.bundle.min.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/iamceege/tooltipster/dist/css/tooltipster.bundle.min.css">
{% endcomment %}

{% comment %}
    <!-- Tooltipster plugin for tooltip follow mouse-->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/louisameline/tooltipster-follower@0.1.5/dist/css/tooltipster-follower.min.css">
    <script src="https://cdn.jsdelivr.net/gh/louisameline/tooltipster-follower@0.1.5/dist/js/tooltipster-follower.min.js"></script>
{% endcomment %}

    <!-- BootBox -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootbox.js/5.4.0/bootbox.min.js"></script>

    {% comment %}
    DEPRECATED
    <!-- jquery-confirm -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-confirm/3.3.2/jquery-confirm.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-confirm/3.3.2/jquery-confirm.min.js"></script>
    {% endcomment %}

    <!-- other loads -->
    <script src="https://cdn.rawgit.com/Krinkle/jquery-json/23398043/dist/jquery.json.min.js"></script>
    <script src="https://use.fontawesome.com/4e089d5a4d.js"></script>


    <!-- Own CSS and JS -->
    <link rel="stylesheet" href="{% static "main.css" %}">
    <script src="{% static "csfr_ajax.js" %}"></script>
    {#  DEPRECATED  <script src="{% static "bootstrap-alert.js" %}"></script>#}
    <script src="{% static "custom.js" %}"></script>
    {% block css %}{% endblock %}
    {% block js %}{% endblock %}

    <!-- Favicons -->
    <link rel="apple-touch-icon" sizes="180x180" href="favicon/apple-touch-icon.png">
{#    <link rel="icon" type="image/png" sizes="32x32" href="favicon/favicon-32x32.png">#}
{#    <link rel="icon" type="image/png" sizes="16x16" href="favicon/favicon-16x16.png">#}
{#    <link rel="manifest" href="favicon/site.webmanifest">#}
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="theme-color" content="#ffffff">

    <title>FontDB </title>

    {% block script %} {% endblock %}

</head>

<body class="d-flex flex-column">

    {% comment %} DEPRECATED <div id="snoAlertBox" class="alert" data-alert="alert"></div>{% endcomment %}
    {% comment %}{% include "messages.html" %}{% endcomment %}

    <div class="container flex-grow">
        {% include "navbar.html" %}
        {% block title %}    {% endblock %}
        {% block content %}  {% endblock %}
    </div>

    {% include "footer.html" %}

</body>
</html>
